<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywj.badminton.mapper.BookingMapper">
    <insert id="bookCourt" parameterType="booking">
        insert into booking (stadium_id,court_id,username,duration,time,remarks)
        values (#{stadiumId}, #{courtId}, #{username}, #{duration}, #{time}, #{remarks});
    </insert>
<!--    <update id="save" parameterType="Bulletin">-->
<!--        update bulletin_board set content = #{content}, title = #{title} WHERE id = #{id};-->
<!--    </update>-->
<!--    <delete id="delete">-->
<!--        delete from bulletin_board where id = #{id}-->
<!--    </delete>-->
    <select id="enquiry" resultType="stadium">
        SELECT id,stadium_name,province,city,court_number,address,phone,remarks,owner
        FROM stadium
        order by `order` desc
        limit #{size} offset #{offset};
    </select>
    <select id="countAll" resultType="java.lang.Long">
        select count(*) from stadium;
    </select>
    <select id="filter" resultType="Stadium">
        SELECT id,stadium_name,province,city,court_number,address,phone,remarks,owner
        FROM stadium where "all" = "all"
        <if test='!city.equals("0") and !province.equals("0")'>
            and city = #{city} and province = #{province}
        </if>
        <if test="courtNumber != 0">
            and court_number = #{courtNumber}
        </if>
        and stadium_name like '%${stadiumName}%'
    </select>
</mapper>