<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywj.badminton.mapper.MemberMapper">
    <insert id="add" parameterType="member">
        insert into member (member_name,stadium_id,balance,expired_time,level,start_time,remarks)
        values (
                #{memberName},
                #{stadiumId},
                #{balance},
                #{expiredTime},
                #{level},
                #{startTime},
                #{remarks}
               )
    </insert>
    <update id="edit" parameterType="Member">
        update member set balance=#{balance},
                          expired_time=#{expiredTime},
                          level=#{level},
                          start_time=#{startTime},
                          remarks=#{remarks}
        where member_name=#{memberName} and stadium_id=#{stadiumId};
    </update>
    <delete id="delete">
        delete from member where member_name=#{memberName} and stadium_id=#{stadiumId}
    </delete>
    <delete id="deleteAll">
        delete from member where stadium_id=#{stadiumId}
    </delete>
    <select id="show" resultType="Member">
        select member_name,stadium_id,balance,expired_time,level,start_time,remarks from member where stadium_id = #{stadiumId};
    </select>
</mapper>