<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywj.badminton.mapper.UserMapper">
    <insert id="register" parameterType="User">
        insert into user_account(mail,password,username,nickname,phone,gender)
        values (#{mail}, #{password}, #{username}, #{nickname}, #{phone}, #{gender})
    </insert>
    <update id="editUser" parameterType="User">
        update user_account set mail = #{mail},
                                phone = #{phone},
                                nickname = #{nickname},
                                gender = #{gender}
                                where username = #{username};
    </update>
    <update id="resetPassword">
        UPDATE user_account SET password = #{password}
        WHERE mail = #{mail};
    </update>
    <select id="login" resultType="User">
        select mail,password,username,nickname,phone,gender,privilege from user_account where username = #{username} and password = #{password}
    </select>
    <select id="showUserInfo" resultType="User">
        select mail,password,username,nickname,phone,gender,privilege from user_account where username = #{username}
    </select>
</mapper>
